{% extends "militaria/base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <form method="POST">
    {% csrf_token %}
        <div class="all_warehouses">
            <div class="registration">
                <p><label for="id_username">LOGIN: {{ form.username }}</label></p>
                <p><label for="id_password">HASŁO: {{ form.password }}</label></p>
            </div>
            <button type="submit">Login</button>
        </div>

    </form>

{% endblock %}