{% extends "militaria/base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content %}
    <form method="POST">
    {% csrf_token %}
        <div class="all_warehouses">
            <h1>Create New Account</h1>
            <div class="registration">
                <p><label for="id_username">LOGIN: {{ form.username }}</label></p>
                <p><label for="id_password">HASŁO: {{ form.password1 }}</label></p>
                <p><label for="id_password">POTWIERDŹ: {{ form.password2 }}</label></p>
            </div>
            <button>Register</button>
        </div>
    </form>
{% endblock %}
