{% extends "militaria/base.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}My amazing blog{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="all_warehouses" >
        <h1>MAGAZYN - {{ request.user }} </h1>
        {% for warehouse in warehouses %}
            <div class="warehouse">
                <p>{{ warehouse.name }}</p>
                <p>{{ warehouse.how_many }}%</p>
                {% if warehouse.how_many >= warehouse.max %}
                    <p style="color: #99dcbb">+{{warehouse.how_many|sub:warehouse.max }}%</p>
                {% elif warehouse.how_many <= warehouse.min %}
                    <p style="color: #ff153c">{{warehouse.how_many|sub:warehouse.min }}%</p>
                {% else %}
                    <p style="color: #fffab7">+{{warehouse.how_many|sub:warehouse.min }}%</p>
                {% endif %}
                <div class="ware">
                    <div class="ware_level" style="width: {{ warehouse.how_many }}%; background-color: {{ warehouse.get_warehouse_fill_code }}"></div>
                    <div class="left_marker" style="position: absolute; left: {{ warehouse.min|sub:3}}%; width: {{warehouse.max|sub:warehouse.min }}%"></div>
                </div>
            </div>
        {% endfor %}
        <div class="box_all">
        <div class="button-box-container">
            <div class="button-box">
                <form method="get" action="/militaria/add">
                    <button type="submit">Dodaj</button>
                </form>
            </div>
            <div class="button-box">
                <form method="get" action="/militaria/modify">
                    <button type="submit">Modyfikuj</button>
                </form>
            </div>
            <div class="button-box">
                <form method="get" action="/militaria/delete">
                    <button type="submit">Usun</button>
                </form>
            </div>
        </div>
            <div class="button-box-container2">
                <form method="get" action="/militaria/supply">
                    <button type="plane"><img src="{% static "militaria/plane.png" %}" height="50%" width="50%" style="transform: rotate(90deg)"></button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}