{% extends "militaria/base.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}Dostawa{% endblock %}

{% block content %}
        <div class="all_warehouses">
            <h1>DOSTAWA - {{ request.user }} </h1>
            <h2>LOW</h2>
                {% for low in low_level %}
                    <p>{{ low }}</p>
                    <p>{{ low.weight }}</p>
                    <p>+{{ low.how_many|sub:low.max }}%</p>
                {% endfor %}
        </div>
{#     <div class="all_warehouses">#}
{#            <h2>MEDIUM</h2>#}
{#                {% for medium in medium_level %}#}
{#                    <p>{{ medium }}</p>#}
{#                    <p>{{ medium.priority }}</p>#}
{#                    <p>{{ medium.max|sub:medium.how_many }}%</p>#}
{#                {% endfor %}#}
{#     </div>#}
{#     <div class="all_warehouses">#}
{#            <h2>HIGH</h2>#}
{#            {% for high in high_level %}#}
{#                <p>{{ high }}</p>#}
{#            {% endfor %}#}
{#     </div>#}
    <img src="{% static "militaria/plane.png" %}" />
{% endblock %}
