{% extends "militaria/base.html" %}
{% load static %}
{% load mathfilters %}
{% block title %}Dostawa{% endblock %}

{% block content %}
        <div class="all_warehouses">
                {% if low_level|length == 0 %}
                    <h1>MAGAZYNY ZAPEŁNIONE</h1>
                {% else %}
                <h1>UŻYTKOWNIK: {{ request.user }} </h1>
                <h2>RAPORT Z DOSTAWY</h2>
                {% for low in low_level %}
                    <p>{{ low }}</p>
                    <p>{{ low.weight }}</p>
                    <p>+{{ low.how_many|sub:low.max }}%</p>
                {% endfor %}
            {%endif  %}
            <div class="button-box-container">
                <div class="button-box">
                    <form method="get" action="/militaria/dashboard">
                        <button type="submit">WRÓĆ</button>
                    </form>
                    {% if low_level|length != 0 %}
                        <form method="get" action="{% static "report.pdf" %}">
                             <button type="submit">POBIERZ PDF</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>

{% endblock %}
